$color-solid-white: #ffffff;
$color-seashell-white: #f1f1f1;
$color-lemon-yellow: #fffacd;
$color-candlelight-yellow: #fed51c;
$color-caranation-red: #DF514C;
$color-solid-orange: #ff5722;
$color-pomegranate-red: #f6461a;
$color-wellread-red: #B73737;
$color-kite-blue: #0059c1;
$color-havelock-blue: #387ed1;
$color-lochmara-blue: #0089D0;
$color-french-rose: #EC407A;
$color-solid-teal: #009688;
$color-solid-indigo: #673AB7;
$color-regal-blue: #013779;
$color-jewel-green: #167F39;
$color-fruit-salad-green: #4caf50;
$color-tundora-grey: #4a4a4a;
$color-dusty-grey: #9b9b9b;
$color-mercury-grey: #e3e3e3;
$color-border-grey: #e1e1e1;
$color-gallery-grey: #eeeeee;
$color-silver-grey: #cccccc;
$color-wild-sand-grey: #f4f4f4;
$color-athens-grey: #fafafb;
$color-dove-grey: #666666;
$color-solid-black: #000000;
$color-profit-green: #10b983;
$color-profit-red: #f35631;
$color-solid-grey: #444444;
$color-dodger-aqua: #00B0FF;
$color-solid-amber: #FF8F00;
$color-light-orange: #f8ab00;
$color-alto-grey: #DDDDDD;
$color-new-blue: #0059c1;
$chart-red: rgb(255, 99, 132);
$chart-orange: rgb(255, 159, 64);
$chart-yellow: rgb(255, 205, 86);
$chart-green: rgb(75, 192, 192);
$chart-blue: rgb(54, 162, 235);
$chart-purple: rgb(153, 102, 255);
$chart-grey: rgb(201, 203, 207);
